@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dark {
  background-color: #202733;
}

.bg-card {
  background-color: #313A48;
}

.bg-neon {
  background-color: #53FFAA;
}

.font-cyan {
  color: #CEE3E9;
}

.font-neon {
  color: #53FFAA;
}

.card-header {
  font-size: 13px;
  letter-spacing: 4.1px;
}

.card-text {
  font-size: 1.75rem;
  letter-spacing: -0.3px;
  font-weight: 700;
}

